%flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.customized_cell {
  @extend %flex-row;
  &__space_between {
    @extend %flex-row;
    width: 100%;
    justify-content: space-between;
  }
}
.customized_cell__clickable {
  cursor: pointer;
  transition: filter 400ms 100ms ease;
}
.customized_cell__clickable:hover {
  filter: brightness(95%);
  transition: filter 200ms 100ms ease;
}

.customized_cell__clickable:active {
  filter: brightness(96%);
  transition: filter 200ms 100ms ease;
}
