body,
div,
span {
  user-select: none;
}

.vkuiSnackbar {
  background: transparent !important;
}

.vkuiRoot > *,
.vkuiRoot > *::after,
.vkuiRoot > *::before,
.vkuiView__panels > *,
.vkuiPanel__fade {
  animation-fill-mode: forwards !important;
}
